   <%- include ('includes/head');%>
   <%- include ('includes/nav');%>
   <div class="container">
    <div class="col-log-8 my-5 text-center">
      <h1 class="text center">Análise de resíduos sólidos soteropolitanos</h1>
      <!-- <p class=" lead text-center"> Para consultar os dados sobre a geração de lixo interaja com os gráficos.</p> -->
  </div>
  <div class="row align-items-center ">
      <div class="col-lg mb-3 titulosDasCharts">
      <h2 class="h2doChart1">Custo anual da coleta de resíduos</h2>
          <div>
            <canvas id="myChart"></canvas>
          </div>
      </div>

      <div class="col-5">
        <h1 class="lead">Neste gráfico demonstra-se o fluxo de variação de custos que a coleta e descarte de resíduos trazem à prefeitura de Salvador. Em azul estão destacados os anos futuros que foram previstos pelo programa especialista.</h1>
      </div>
      <!-- <div class="w-100"> faz pular de linha a partir daqui  -->
        <br>
      </div>
      <hr class="solid">
      <div class="col-lg row align-items-center justify-content-end">
        <div>
          <h2 class="h2doChart2 ">Geração de toneladas de lixo</h2>
        </div>
        <div class="col-4 row align-items-center justify-content-end">
          <h1 class="lead">O ano com a maior geração de lixo foi o de 2020, provavelmente causado pelo auge da pandemia na capital soteropolitana. Também é possível perceber uma diminuição prevista pelo programa especialista, além disso uma distribuição também é possível de ser percebida, com uma média de 4 anos de crescimento linear para um ano de grandes reduções.</h1>
        </div>
        <div class="col-lg">
          <canvas id="myChart2"></canvas> 
        </div>
      </div>
            <div class="box-informacao">
              <hr class="solid">
              <h2>Informações analisadas:</h2>
              <h2 class="lead h2Informacoes">Maior valor: <%= maior %>t , Ano: <%= ano %></h2>
              <h2 class="lead h2Informacoes">Custo de resíduos: R$<%= custo %></h2>
              <h2 class="lead h2Informacoes">PIB per capita deste ano: R$<%= pib %></h2>
              <br>
              <hr class="solid">
              <h1 class='h2Informacoes'>Aterro Metropolitano Centro de Salvador:</h1>
              <iframe class="mapa" src="http://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15559.134656526923!2d-38.36986949683348!3d-12.85724488124315!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161439bff9a985%3A0x7d3772be3193af30!2sAMC%20-%20Aterro%20Metropolitano%20Centro!5e0!3m2!1spt-BR!2sbr!4v1732914524337!5m2!1spt-BR!2sbr" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <br><br>
            </div>
       </div>
     </div>
</div>
   <%- include ('includes/footer')%>